<h1 style="display: flex;justify-content:center">Add User</h1>
<hr>
<form style="display:inline-block" action="/add-users" method="post">
    <input style="width: 20vw;height:30px;margin-top:10px" type="text" name="name" placeholder="Name"><br>
    <input style="width: 20vw;height:30px;margin-top:10px" type="email" name="email" placeholder="Email"><br>
    <input style="width: 20vw;height:30px;margin-top:10px" type="text" name="mobile" placeholder="Mobile"><br>
    <button style="width: 15vw;height:30px;margin-top:10px" type="submit">Add User</button>
</form>

